.statistics {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: #dddad0;
    margin-bottom: 100px;
    box-shadow: 10px 5px 5px rgb(16 15 15);

}

.title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 15px 0;
}

.item {
    padding: 5px 0;
}

.label {
    margin-bottom: 5px;
}

.statArray {
    display: flex;
    width: 100%;
    box-shadow: 10px 5px 5px rgb(16 15 15);

}

.statArray li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100%/4);

}

.statArray li:nth-child(1) {
    background-color: rgb(142, 190, 245);
}

.statArray li:nth-child(2) {
    background-color: rgb(167, 159, 179);
}

.statArray li:nth-child(3) {
    background-color: rgb(245, 21, 32);
}

.statArray li:nth-child(4) {
    background-color: rgb(0, 255, 213);
}